.reset-button {
    background-color: #ef1414;
    border: 1px solid #120404;
    color: #dbd9e5;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.reset-button:hover {
    background-color: #950f0f;
    border-color: #5911cd;
}

.hide {
    display: none;
}

body {
    height: 100vh;
    background: #416D19;
}

.container {

    background-color: #ffffff;
    padding: 1em 0.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.8em;
    box-shadow: 0 45px 60px rgba(19, 14, 1, 0.7);
}

.otp-input {
    width: 100px;
    height: 100px;
    border-radius: 60%;
    text-align: center;
    font-size: 32px;

    align-items: center;
    line-height: 70px;
    /* Có thể điều chỉnh dựa trên độ cao của hộp chứa */
    margin: 0;
    border: none;

}

.vui-lng-kim {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
}

.vui-lng-kim-tra-bn-gmail-c-wrapper {
    width: 906px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
}

.o-t-p-circle-group-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #FFF67E;
    width: 100%;
    height: 100%;

}

.div49 {
    position: absolute;
    top: 42px;
    left: 69px;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
    z-index: 1;
}

.o-t-p-circle-group {
    height: 180px;
    width: 180px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.o-t-p-circle-group-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #BFEA7C;
    width: 100%;
    height: 100%;
}

.div50 {
    width: 41px;
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
    display: inline-block;
    z-index: 1;
    margin-top: -138px;
}

.o-t-p-circle-group1 {
    height: 180px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.o-t-p-circle-group-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #9BCF53;
    width: 100%;
    height: 100%;
}

.div51 {
    position: absolute;
    top: 42px;
    left: 68px;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
    z-index: 1;
}

.o-t-p-circle-group2 {
    height: 180px;
    width: 180px;
    position: relative;
}

.ellipse-div {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #416D19;
    width: 100%;
    height: 100%;
}

.div52 {
    position: absolute;
    top: 42px;
    left: 68px;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
    z-index: 1;
}

.o-t-p-circle-group3 {
    height: 180px;
    width: 180px;
    position: relative;
}

.o-t-p-circle-group-child1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #28470b;
    width: 100%;
    height: 100%;
}

.o-t-p-circle-group-child,
.o-t-p-circle-group-item,
.o-t-p-circle-group-inner,
.ellipse-div,
.o-t-p-circle-group-child1 {
    display: flex;
    align-items: center;
    /* Canh giữa theo chiều dọc */
    justify-content: center;
    /* Canh giữa theo chiều ngang */
}

.div53 {
    position: absolute;
    top: 42px;
    left: 68px;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
    z-index: 1;
}

.o-t-p-circle-group4 {
    height: 180px;
    width: 180px;
    position: relative;
}

.circle-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--font-size-45xl);
}

.cha-nhn-c {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
}

.cha-nhn-c-otp-wrapper,
.gmail-validation-parent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.cha-nhn-c-otp-wrapper {
    width: 687px;
    flex-direction: row;
    justify-content: left;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
}

.gmail-validation-parent {
    width: 1324px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 64px 0;
    text-align: center;
    font-size: var(--font-size-17xl);
    color: var(--color-black);
    font-family: var(--font-inter);
}

.frame-child9 {
    height: 57px;
    width: 199px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--secondary-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
}

.text-frame {
    top: 15px;
    flex: 1;
    position: relative;
    font-size: var(--font-size-xl);
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--color-gray-600);
    text-align: center;
    flex-shrink: 0;
    z-index: 1;
}

#groupButton {
    font-size: 20px;
    /* Kích thước phông chữ */
    /* Các thuộc tính CSS khác */
}

.rectangle-parent6 {
    cursor: pointer;
    border: 1px solid var(--color-black);
    padding: var(--padding-sm) var(--padding-5xl) var(--padding-smi) var(--padding-4xl);
    background-color: var(--secondary-white);
    width: 199px;
    height: 60px;
    border-radius: var(--br-xs);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rectangle-parent6:hover {
    background-color: var(--color-gainsboro-100);
    border: 1px solid var(--color-darkslategray-200);
    box-sizing: border-box;
}

.confirmation-frame-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #C5E898;
    width: 100%;
    height: 100%;
    cursor: pointer;
}



.submit {
    position: absolute;
    top: 48px;
    left: 187px;
    font-size: var(--font-size-17xl);
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: center;
    z-index: 1;
}

.confirmation-frame {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 60px;
    width: 200px;
    position: relative;
    max-width: 100%;
}

.submit-button-parent {
    width: 1318px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
}

.otpconfirmationpage {
    width: 100%;
    height: 860px;
    position: relative;
    background-color: var(--secondary-white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Canh giữa theo chiều ngang */
    justify-content: center;
    /* Canh giữa theo chiều dọc */
    padding: 63px var(--padding-14xl) var(--padding-21xl);
    box-sizing: border-box;
    gap: 355px 0;
    letter-spacing: normal;
}


@media screen and (max-width: 1200px) {
    .otpconfirmationpage {
        gap: 355px 0;
    }
}

@media screen and (max-width: 1050px) {
    .vui-lng-kim {
        font-size: var(--font-size-10xl);
        line-height: 43px;
    }

    .div49,
    .div50,
    .div51,
    .div52,
    .div53 {
        font-size: var(--font-size-32xl);
        line-height: 77px;
    }

    .circle-frame {
        flex-wrap: wrap;
        justify-content: center;
    }

    .cha-nhn-c,
    .submit {
        font-size: var(--font-size-10xl);
        line-height: 43px;
    }
}

@media screen and (max-width: 750px) {
    .gmail-validation-parent {
        gap: 64px 0;
    }

    .submit-button-parent {
        flex-wrap: wrap;
    }

    .otpconfirmationpage {
        gap: 355px 0;
    }
}

@media screen and (max-width: 450px) {
    .vui-lng-kim {
        font-size: var(--font-size-3xl);
        line-height: 32px;
    }

    .div49,
    .div50,
    .div51,
    .div52,
    .div53 {
        font-size: var(--font-size-19xl);
        line-height: 58px;
    }

    .cha-nhn-c {
        font-size: var(--font-size-3xl);
        line-height: 32px;
    }

    .gmail-validation-parent {
        gap: 64px 0;
    }

    .text-frame {
        font-size: var(--font-size-base);
        line-height: 24px;
    }

    .submit {
        font-size: var(--font-size-3xl);
        line-height: 32px;
    }

    .otpconfirmationpage {
        gap: 355px 0;
    }
}