<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/PaymentOfTuitionFees.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,600;0,700;1,900&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Redacted Script:wght@400&display=swap" />
    <title>Payment of Tuition Fees</title>
</head>

<body>
    <div class="paymentoftuitionfees">
        <section class="paymentoftuitionfees-inner">
            <div class="frame-parent">
                <header class="rectangle-wrapper">
                    <div class="rectangle1">
                        <div class="line">
                            <div class="payment-summary">
                                <div class="student-info-frame">
                                    <img class="text-icon1" alt="" src="/images/logo.jpg" />
                                </div>
                            </div>
                            <h2 class="bank-center">Bank Center</h2>
                        </div>
                        <div class="frame-div">
                            <div class="bank-details">
                                <div class="unknown-01">Unknown_01</div>
                            </div>
                            <div class="payment-summary1">
                                <div class="student-info-frame1">
                                    <img class="student-info-frame-item" alt="" src="/images/avatar_user.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="fee-details-frame">
                    <img class="fee-subject-line" loading="lazy" alt="" />
                    <h1 class="online-fees-payment">Online Fees Payment</h1>
                </div>
            </div>
    </div>

    <div>

        <div class="table-container">
            <div id="table-body-wrapper">
                <table>
                    <thead class="header-row">
                        <tr>
                            <th>Tuition ID</th>
                            <th>Tuition type</th>
                            <th>Tuition name</th>
                            <th>Price</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <!-- Dữ liệu bảng sẽ được chèn tại đây -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="customer-info dienthongtin">
            <div>User Name : <span id="fullName"></span></div>
            <div>Email: <span id="email"></span></div>
            <div>Phone Number: <span id="phoneNumber"></span></div>

            <div>-------------------------------------------------------------------------------------</div>

            <div class="input-container">
                <label for="studentID">Student code:</label>
                <input type="text" id="studentID" name="studentID" placeholder="Enter Student ID">
                <button onclick="loadStudentInfo()">Tải thông tin</button>

            </div>
            <div class="input-container">
                <label for="fullname">Students Name:</label>
                <input type="text" id="fullname" name="fullname" placeholder="Enter Full Name">
            </div>
            <div class="input-container">
                <label for="tuition">Tuition fee: </label>
                <input type="text" id="tuition" name="tuition" placeholder="Enter Tuition Fee" readonly>
            </div>
            <div class="input-container">
                <label for="state">Tuition status:</label>
                <input type="text" id="state" name="state" readonly>
            </div>

            <div>-------------------------------------------------------------------------------------</div>

            <div class="input-container">
                <label for="account balance">Available balances:</label>
                <input type="text" id="account balance" name="account balance" readonly>
            </div>
            <div class="input-container">
                <label for="amount">Tuition amount to be paid:</label>
                <input type="number" id="amount" name="amount" placeholder="Enter Amount" value="0">
            </div>



        </div>


        <div class="payment-service-name-label">
            <footer class="rectangle-shape-for-group">
                <button class="bt_back" onclick="goBack()" id="back">Back</button>
                <button class="pay-button" onclick="proceedToPayment()" id="pay">Pay</button>
            </footer>
        </div>
    </div>



    <script>
        function goBack() {
            window.location.href = "/homepage";
        }

        function proceedToPayment() {
            window.location.href = "/homepage/paymentoftuitionfees/otpconfirmationpage";
        }
    </script>

    <script>
        function containsNumber(inputString) {
            return /\d/.test(inputString);
        }

        function allInputsFilled() {
            const studentID = document.getElementById('studentID').value;
            const fullName = document.getElementById('fullname').value;
            const tuitionAmount = document.getElementById('amount').value;

            // Kiểm tra xem tất cả các ô đã được điền đầy đủ hay không
            if (studentID.trim() === '' || fullName.trim() === '' || tuitionAmount.trim() === '') {
                return false; // Có ô input rỗng
            }
            return true; // Tất cả các ô đã được điền đầy đủ
        }

        function proceedToPayment() {
            const amountInput = document.getElementById('amount');
            const sotiennhap = parseInt(amountInput.value);

            const tuitionInput = document.getElementById('tuition');
            const hocphi = parseInt(tuitionInput.value);

            const stateInput = document.getElementById('state');
            const state = stateInput.value;

            const fullNameInput = document.getElementById('fullname');
            const fullName = fullNameInput.value;

            const balanceInput = document.getElementById('account balance');
            const sodu = parseInt(balanceInput.value);

            // Kiểm tra xem tất cả các ô đã được điền đầy đủ hay không
            if (!allInputsFilled()) {
                showMessage('Vui lòng điền đầy đủ thông tin.', 'error');
                return;
            }

            // Kiểm tra số tiền nhập vào có nhỏ hơn hoặc bằng số tiền học phí không
            if (sotiennhap == hocphi) {
                // Kiểm tra trạng thái học phí có phải là "Unpaid" không
                if (state === 'Unpaid') {
                    // Kiểm tra xem họ tên đã được điền đầy đủ hay không
                    if (!containsNumber(fullName.trim())) {
                        // Kiểm tra xem số tiền nhập vào có phải là số hay không
                        if (sotiennhap != 0) {
                            // Kiểm tra số dư
                            if (sotiennhap > sodu) {
                                showMessage('Số dư không đủ để thanh toán học phí.', 'error');
                            } else {

                                showMessage('Thanh toán thành công!', 'success');

                                window.location.href = "/homepage/paymentoftuitionfees/otpconfirmationpage";
                            }
                        } else {
                            showMessage('Số tiền không hợp lệ. Vui lòng nhập một số hợp lệ.', 'error');
                        }
                    } else {
                        showMessage('Vui lòng nhập họ và tên của bạn.', 'error');
                    }
                } else {
                    showMessage('Học phí đã được thanh toán.', 'error');
                }
            } else if (sotiennhap < hocphi) {
                showMessage('Số tiền không đủ để học phí.', 'error');

            } else {
                showMessage('Số tiền vượt quá học phí.', 'error');
            }
        }

        function showMessage(message, type) {
            if (type === 'error') {
                alert('Error: ' + message);
            } else {
                alert(message);
            }
        }


        // Dữ liệu mẫu
        const tuitionFeesData = [
            { id: 1, type: 'Type 1', name: 'Tuition Fee 1', price: 100, link: '/homepage/paymentoftuitionfees/paymentinformationpage' },
            { id: 2, type: 'Type 2', name: 'Tuition Fee 2', price: 200, link: 'link2' },
            { id: 3, type: 'Type 3', name: 'Tuition Fee 3', price: 300, link: 'link3' },
            // Thêm dữ liệu mẫu để vượt quá 10 hàng
            { id: 4, type: 'Type 4', name: 'Tuition Fee 4', price: 400, link: 'link4' },
            { id: 5, type: 'Type 5', name: 'Tuition Fee 5', price: 500, link: 'link5' },
            { id: 6, type: 'Type 6', name: 'Tuition Fee 6', price: 600, link: 'link6' },
            { id: 7, type: 'Type 7', name: 'Tuition Fee 7', price: 700, link: 'link7' },
            { id: 8, type: 'Type 8', name: 'Tuition Fee 8', price: 800, link: 'link8' },
            { id: 9, type: 'Type 9', name: 'Tuition Fee 9', price: 900, link: 'link9' },
            { id: 10, type: 'Type 10', name: 'Tuition Fee 10', price: 1000, link: 'link10' },
            { id: 11, type: 'Type 11', name: 'Tuition Fee 11', price: 1100, link: 'link11' },
            { id: 12, type: 'Type 12', name: 'Tuition Fee 12', price: 1200, link: 'link12' }
        ];

        // Lặp qua dữ liệu và chèn vào bảng
        const tableBody = document.getElementById('table-body');
        tuitionFeesData.forEach(data => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>${data.id}</td>
                <td>${data.type}</td>
                <td>${data.name}</td>
                <td>${data.price}</td>
                <td><a href="${data.link}" class="link-button">Chuyển đến trang</a></td>
            `;
            tableBody.appendChild(row);
        });

        // Kiểm tra số lượng hàng và hiển thị thanh cuộn dọc nếu cần
        const tableBodyWrapper = document.getElementById('table-body-wrapper');
        if (tableBody.childElementCount > 10) {
            tableBodyWrapper.style.overflowY = 'auto';
        }


        var storedToken = localStorage.getItem('token');
        if (storedToken) {
            console.log('Token found in localStorage:', storedToken);
            // Lấy dữ liệu từ token
            fetch('/api/fetchData', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${storedToken}`
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success && data.user) {
                        // Truyền dữ liệu vào các trường HTML tương ứng
                        document.getElementById('fullName').textContent = data.user.fullName || 'N/A';
                        document.getElementById('email').textContent = data.user.email || 'N/A';
                        document.getElementById('phoneNumber').textContent = data.user.phoneNumber || 'N/A';
                        var balance = data.user.balance;
                        document.getElementById('account balance').value = balance;
                    } else {
                        console.log('Error fetching user data:', data.message || 'Unknown error');
                    }
                })
                .catch(error => {
                    console.error('Error fetching user data:', error);
                });
        } else {
            console.log('Token not found in localStorage');
            // Nếu token không được tìm thấy, bạn có thể thực hiện xử lý khác tùy theo nhu cầu của bạn
        }



        function loadStudentInfo() {
            const studentIDInput = document.getElementById('studentID');
            const studentID = studentIDInput.value;

            // Thực hiện yêu cầu AJAX để lấy dữ liệu từ cơ sở dữ liệu
            fetch(`/api/tutions/${studentID}`, {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    // Kiểm tra xem dữ liệu có hợp lệ không
                    if (data) {
                        console.log('Tuition from server:', data.tuition.tuition);

                        const tuition = parseInt(data.tuition.tuition);


                        // Cập nhật giá trị của trường "tuition" và "state"
                        const tuitionFeeInput = document.getElementById('tuition');
                        const stateInput = document.getElementById('state');

                        if (!isNaN(tuition) && data.tuition.state) {
                            tuitionFeeInput.value = tuition;
                            stateInput.value = data.tuition.state;
                        } else {
                            // Nếu dữ liệu không tồn tại hoặc không hợp lệ, cập nhật giá trị mặc định
                            tuitionFeeInput.value = 'N/A';
                            stateInput.value = 'N/A';
                        }
                    } else {
                        // Xử lý trường hợp không tìm thấy sinh viên hoặc lỗi khác
                        console.error('Error:', data.message || 'Unknown error');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }


    </script>
    <div id="message-container"></div> <!-- Container để hiển thị thông báo -->
</body>

</html>